body {
    height: 1000vh;
    margin: 0;
    background: linear-gradient(to right, #4B4949, #685F5F);
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #413E3E;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 2px solid #5f5e5e ; /* Inicialmente com borda transparente */
    transition: height 0.3s ease, border-bottom 0.3s ease; /* Adiciona animação na altura e borda */
}

nav:hover {
    background-color: #555050;
    height: 60px; /* Aumenta a altura quando passar o mouse */
    border-bottom: 2px solid #9F9E9E; /* Muda a cor da borda ao passar o mouse */
}


body {
    padding-top: 40px; /* Adiciona um espaçamento no topo para que o conteúdo não fique atrás da nav */
}

nav:hover {
    background-color: #555050; /* Cor de fundo mais clara ao passar o mouse */
}

.logo {
    background-image: url('./assets_nav/logoMoletta.png');
    background-size: auto 150%;
    background-repeat: no-repeat;
    background-position: left center;
    width: 100px;
    height: 100%;
}

.barras {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.barras .rectangle {
    background-color: #FFFFFF;
    width: 1px;
    height: 30px;
    border-radius: 3px;
}

.background-image {
    background-image: url('./assets_nav/instagram-removebg-preview.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 30px;
    margin: -30px;
}

.centered-rectangle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 25px;
    background-color: rgba(217, 217, 217, 0.62);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    background-image: url('./assets_nav/pesquisar-removed.png'); /* Imagem de fundo no início do retângulo */
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 10px center;
    z-index: 1; /* Garante que o input não fique coberto pela imagem */
}

.centered-rectangle input {
    border: none;
    background: transparent;
    outline: none;
    font-family: 'Inria Serif', serif;
    font-style: italic;
    font-size: 15px;
    color: rgba(74, 66, 66, 0.7);
    width: 100%;
    padding-left: 40px; /* Espaço para a imagem de fundo */
    z-index: 2; /* Garante que o input fique sobre o fundo */
}

.centered-rectangle input::placeholder {
    color: rgba(74, 66, 66, 0.7); /* Cor do placeholder */
    font-style: italic;
    padding-left: 80px;
}

/* Estilo para a lista não ordenada */
.list-items {
    list-style-type: none;
    padding: 0;
    margin: -20px;
    display: flex;
    justify-content: right; /* Posiciona os itens à direita */
    position: absolute;
    bottom: 0 10px; /* Posiciona a lista no final da nav */
    width: 100%;
}

.list-item-content {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Espaço entre os itens */
}

.item-background {
    width: 20px; /* Aumente o tamanho do background image */
    height: 20px; /* Aumente o tamanho do background image */
    background-size: cover;
    margin-right: 8px;
}

.list-item-content p {
    font-family: 'Inter', sans-serif;
    font-size: 12px; /* O tamanho do texto permanece o mesmo */
    color: #FFFFFF;
    margin: 0;
    padding-right: 8px; /* Espaço entre a frase e o retângulo */
}

.list-items .rectangle {
    width: 1px;
    height: 30px;
    background-color: #FFFFFF;
    margin-left: 5px; /* Espaço entre a frase e o retângulo */
    border-radius: 5px;
}

/* Estilos específicos para cada item */
.list-item-1 .item-background {
    background-image: url('./assets_nav/balao-removebg-preview.png'); /* Imagem para o primeiro item */
    background-size: cover;
}

.list-item-2 .item-background {
    background-image: url('./assets_nav/telefone-removebg-preview.png'); /* Imagem para o segundo item */
    background-size: cover;
}

.list-item-3 .item-background {
    background-image: url('./assets_nav/whatsApp-removebg-preview.png'); /* Imagem para o terceiro item */
    background-size: cover;
}
